<mat-toolbar>
  <span class="spacer">{{pageTitle}}</span>
  <div class="example-button-row">
    <button mat-button [disabled]="isButtonDisabled('/home')" (click)="openHomePage()">Home</button>
    <button mat-button [disabled]="isButtonDisabled('/clients')" (click)="openClientsPage()">Clientes</button>
    <button mat-button [disabled]="isButtonDisabled('/documents')" (click)="openDocumentsPage()">Documentos</button>
    <button mat-button (click)="logout()">Sair</button>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>